.ramal-cliente-alt, 
.contato-cliente-alt,
.inscmun-cliente-alt {
    position: relative;
    left: 55%;
    top: -49px;
    width: 620px;
}

.ramal-cliente-alt label, 
.contato-cliente-alt label,
.inscmun-cliente-alt label {
    width: 100px;
}

.form-control#ramal-cliente-alt,
.form-control#contato-cliente-alt,
.form-control#inscmun-cliente-alt {
    width: 230.05px;
}

.grupo-cliente-alt, 
.inscest-cliente-alt, 
.email-cliente-alt {
    margin-top: -15px;
}

/* ESPAÇO ENTRE OS CAMPOS ESTÁ MAIOR QUE O DESEJADO ---------- ARRUMAR */