/* COMPONENTE PARA PESQUISA LISTA USUARIO */

.form-control#id-usuario-pesq,
.form-control#nome-usuario-pesq,
.form-control#cliente-usuario-pesq {
    width: 90%;
}

.form-control#nivel-usuario-pesq, .form-control#status-usuario-pesq {
    width: 90%;
}

.btn_pesq_fusuario {
    margin: 8px;
    margin-top: 29px;
}