/* CONFIGURA NÍVEL DO USUÁRIO */

/* .pesq_usuario_config#id-usuario-config, 
.pesq_usuario_config#nome-usuario-config, 
.pesq_usuario_config#btn-usuario-config {
    padding: 300px;
} */

.header_confnivel{
    overflow-x: hidden;
}
#forms-pesq-result-usuario-config {
    margin-bottom: 100px;
}

.pesq_usuario_config {
    /* border-bottom: 2px solid #e7e7e7; */
}
.form-control#id-usuario-config {
    width: 30%;
}

.id_usuario_config {
    position: relative;
    left: 15%;
}
.nome_usuario_config {
    position: relative;
    left: 16.5%;
}

.empresa_usuario_config {
    position: relative;
    left: 22%;
}

.btn_pesq_config {
    position: relative;
    left: 24%;
    top: -1px;
}

.id_usuario_config label {
    position: relative;
    left: 10%;
}

.nome_usuario_config label{
    position: relative;
    left: -6%;
}

.empresa_usuario_config label{
    position: relative;
    left: -6%;
}


.perm_usuario_result {
    position: relative;
    left: 27%;
    top: 50px;
}

.cli_usuario_result {
    position: relative;
    left: 27%;
    top: 80px;
}

.border_checkbox {
    height: 100px;
    width: 380px;
    border: 2px solid gray;
    padding-left: 15px;
    padding-top: 5px;
}

.checkbox_percli {
    display: inline-block;
}
