/* COMPONENTE INFOPAGE:
QTDE DE PAGS, REGRISTROS/PAG E PAGINAÇÃO (BOTÕES AVANÇAR/VOLTAR) */

.right {
    float: right;
    margin-right: 15px;
}

.input_page_num {
    height: 20px;
    width: 50px;
}

.left {
    float: left;
    margin-left: 15px;
}

.reg_per_page {
    width: 100px;
    position: relative;
    top: -59px;
    left: -60%;
}

p {
    padding-top: 26px;
}