/* CLIENTE INCLUIR */


.form-control#id-cliente {
    width: 10%;
}

.cnpj_cliente {
    border-bottom: 2px solid #e7e7e7;
    padding-bottom: 25px;
} /* borda não está até o fim*/

.btn {
    font-size: 12px;
}

.btn-avan-cli {
    position: relative;
    width: 100px;
    height: 30px;
    left: -10%;
}

.btn-cancel-cli {
    position: relative;
    width: 100px;
    height: 30px;
    top: -45px;
    left: 10%;
}

.icon-arrow-cli {
    position: relative;
    top: 2px;
    left: -13%;
}

.icon-cancel-cli {
    position: relative;
    top: -70px;
    left: 54%;
}