 /* CLIENTE ALTERAR */

.form-control#id-cliente-alt {
    width: 10%;
}

.cnpj_cliente_alt {
    border-bottom: 2px solid #e7e7e7;
    padding-bottom: 20px;
}

div#dados-cont-cli {
    border-bottom: 2px solid #e7e7e7;
    padding-bottom: 8px;
}

.tipo_cliente_alt {
    padding-top: 8px;
}

.ativo_cliente_alt {
    border-bottom: 2px solid #e7e7e7;
    padding-bottom: 13px;
}