.bairro, .cidade, .estado {
    position: relative;
    left: 55%;
    top: -97px;
    width: 620px;
}

.form-control#bairro, .form-control#cidade, .form-control#estado {
    width: 230.05px;
}

.bairro label, .cidade label, .estado label {
    width: 100px;
}

/* .form-horizontal .form-group#bairro, .form-group#cidade, .form-group#estado {
    margin-right: 0px; 
}

div#dados-endereco .form-group .cep .ender .numender .comple {
    width: 1366px;
} */