/* USUARIOS ALTERAR*/

/* .dtnasc {
    border-bottom: 2px solid #e7e7e7;
    padding-bottom: 20px;
}

.form-control#numender-user {
    width: 10%;
}

.comple-ender {
    position: relative;
    top: -49px;
    left: 550px;
}

.comple-ender label {
    width: 100px;
}

.bairro, .fb {
    margin-top: -65px;
    padding-top: 15px;
}

.ativo {
    border-top: 2px solid #e7e7e7;
    padding-top: 5px;
    margin-top: -20px;
}

.btn {
    font-size: 12px;
}

.btn-alt {
    position: relative;
    margin-top: 10px;
    right: 100px;
    width: 100px;
    height: 30px;
}

.btn-cancel {
    position: relative;
    top: -65px;
    left: 50px;
    width: 100px;
    height: 30px;
}

.icon-check {
    position: relative;
    left: 41%;
    top: -25px;
}

.icon-cancel {
    position: relative;
    /* left: 720px; 
    left: 52%;
    top: -90px;
}

.conf-senha {
    border-bottom: 2px solid #e7e7e7;
    padding-bottom: 25px;
}

div#dados-endereco {
    margin-bottom: -95px;
}

div#dados-cont-trab {
    margin-bottom: -39px;
} */
/* fielset#alt-user div#dados-endereco {
    margin-bottom: -95px;
} */

/* ready to be deleted */