/* // FORM PESQUISA LISTA CLIENTE FATURAMENTO */

.form_pesquisa_clifaturamento {
    text-align: center;
    border-top: 2px solid #e7e7e7;
    margin-top: 10px;
}

.pesquisa_clifaturamento {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin_formgroup {
    margin-right: 20px;
}

.margin_formgroup label {
    margin-right: 5px;
}