/* USUARIOS INCLUIR */

/* .form-control#id-user {
    width: 10%;
}

.form-control#inicioper-user {
    margin-right: 1px;
}

.form-control#terminoper-user {
    position: relative;
    left: 770px;
    top: -34.5px;
}

p {
    position: relative;
    left: -525px;
    top: 10px;
} */
/* todos os btns do projeto --> */
/* .btn {
    font-size: 12px;
    
} */
/* todos os btns do projeto <-- */

/* .fg_formcadusuario {
    width: 300px;
} TEM Q SER DEFINIDO NO LayoutForm.CSS

/* ready to be deleted */