/* USUARIOS INCLUIR */

.form-control#id-user {
    width: 10%;
}

.form-control#inicioper-user {
    margin-right: 1px;
}

.form-control#terminoper-user {
    position: relative;
    left: 770px;
    top: -34.5px;
}

p {
    position: relative;
    left: -525px;
    top: 10px;
}

.btn {
    font-size: 12px;
}

.btn-conf-cad {
    position: relative;
    margin-top: 10px;
    right: 100px;
    width: 100px;
    height: 30px;
}

.btn-cancel-cad {
    position: relative;
    top: -45px;
    left: 50px;
    width: 100px;
    height: 30px;
}

.icon-check-cad {
    position: relative;
    left: -120px;
    top: 7px;
}

.icon-cancel-cad {
    position: relative;
    left: 720px;
    top: -70px;
}

.nivel-user {
    border-bottom: 2px solid #e7e7e7;
    padding-bottom: 25px;
}

.depto-user {
    margin-top: -10px;
}

.chk-ui {
    position: relative;
    left: 4.8%;
}

.chk-uc {
    position: relative;
    left: 6.93%;
}

.chk-gc {
    position: relative;
    left: 5.33%;
}

.chk-ue {
    position: relative;
    left: 6.22%;
}

.chk-uimg {
    position: relative;
    left: 10%;
}