/* ENVIAR EMAIL CSS */
.header_email {
    overflow-x: hidden;
}

.email {
    padding: 20px;
    border: 2px solid #e7e7e7;
    width: 700px;
    margin: 20px auto;
}

.form-control#conteudo-email {
    resize: none;
    height: 150px;
    width: 100%;
}

.form-control#titulo-email {
    width: 31.5%;
}

.form-control#cliente-email,
.form-control#destinatario-email {
    width: 112%;
}

.display_ib_clidest {
    display: inline-block;
    margin-right: 58.5px;
}

/* EMAILS ENVIADOS LISTA CSS */
/* .div_table {
    width: 1300px;
    margin: 0 auto;
}

.table_ee {
    border-radius: 20px 20px 20px 20px;
}

.table_ee tr:nth-child(even){
    background-color: #f2f2f2;
}

.table_ee tr:hover {
    background: #ffeabc;
}
.tb_titulo {
    background-color: #ccc;
    font-weight: bold;
} */

/* EMAIL INFO/ EMAIL INFO BTN */

.email_info {
    padding-top: 20px;
}

.email_info_header {
    background-color: #184aeea4;
    position: absolute;
    top: 0;
    left: 0;
    width: 430px;
    height: 30px;
}

.email_info_header p {
    display: inline-block;
    font-weight: bold;
    padding: 6px;
}

.email_info_content p {
    display: inline-block;
    margin-right: 16px;
}

.close_info {
    position: relative;
    left: 350px;
    top: -65px;
}

.close_info:hover, .btn_question:hover {
    cursor: pointer;
}