.dados_endereco {
    width: 700px;
    /* margin: 10px auto; */
}

.fg_dadosendereco {
	width: 300px;
}

.campos_esq {
    float: left;
}

.campos_dir {
    float: right;
}

/* CRIAR UM ARQUIVO CSS PARA COM TODOS OS STYLES DE DADOS (DadosContatoCli, DadosContTrab, DadosEndereco) */