.dados_cont_trab {
    width: 700px;
    margin: 10px auto;
}

.fg_dadoscont_trab {
    width: 300px;
}

.nextel, .depto {
    float: right;
    margin-top: -76px;
}

/* CRIAR UM ARQUIVO CSS PARA COM TODOS OS STYLES DE DADOS (DadosContatoCli, DadosContTrab, DadosEndereco) */