.dados_cont_cli {
    width: 700px;
    margin: 10px auto;
}

.fg_dadoscont_cli {
    width: 300px;
}

.ramal_cliente_alt, 
.contato_cliente_alt, 
.inscmun_cliente_alt {
    float: right;
    margin-top: -76px;
}


/* CRIAR UM ARQUIVO CSS PARA COM TODOS OS STYLES DE DADOS (DadosContatoCli, DadosContTrab, DadosEndereco) */